.container1, .container2, .container3, .container4, .container5 { 
   border: 1px solid black;
   width: 75%;
   margin: 0 auto;
   text-align: center;

}


.flexboxcontainer1, .flexboxcontainer2, .flexboxrps, .flexboxpickcolor, .flex-blackjack-row1, 
.flex-blackjack-row2, .flex-blackjack-row3 {
    
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;


}

.flex-blackjack-row1, .flex-blackjack-row2 {
    
    background-image: url('https://img.freepik.com/free-photo/green-poker-background_87414-2508.jpg?size=626&ext=jpg');
    color: #ffffff;
}

.flex-blackjack-row1 div {
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    text-align: center;
    height: 350px;
}

.flex-blackjack-row1 img {
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row2 button {
    border: 1px solid black;
    padding: 10px;
}


.flex-blackjack-row2 div {
    border: 1px solid black;
    padding: 10px;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
}

.flexboxcontainer1 div {
    display: flex;
    padding: 10px;
    border: 1px solid black;
    align-items: center;

}

.flexboxcontainer2 img {
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
} 

.flexboxrps img:hover {
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);

}